src/WebServices/WCF.Soap.Client/Service References/UniversityService/UniversityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UniversityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:45073/UniversityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:45073/UniversityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:45073/UniversityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.Soap.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUniversityService_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IUniversityService_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IUniversityService_GetStudentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentById" />
  </wsdl:message>
  <wsdl:message name="IUniversityService_GetStudentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUniversityService_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="IUniversityService_AddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IUniversityService_UpdateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudent" />
  </wsdl:message>
  <wsdl:message name="IUniversityService_UpdateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IUniversityService_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IUniversityService_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="IUniversityService">
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IUniversityService/GetStudents" message="tns:IUniversityService_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUniversityService/GetStudentsResponse" message="tns:IUniversityService_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUniversityService/GetStudentById" message="tns:IUniversityService_GetStudentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUniversityService/GetStudentByIdResponse" message="tns:IUniversityService_GetStudentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IUniversityService/AddStudent" message="tns:IUniversityService_AddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUniversityService/AddStudentResponse" message="tns:IUniversityService_AddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IUniversityService/UpdateStudent" message="tns:IUniversityService_UpdateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUniversityService/UpdateStudentResponse" message="tns:IUniversityService_UpdateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IUniversityService/DeleteStudent" message="tns:IUniversityService_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUniversityService/DeleteStudentResponse" message="tns:IUniversityService_DeleteStudent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUniversityService" type="tns:IUniversityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IUniversityService/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentById">
      <soap:operation soapAction="http://tempuri.org/IUniversityService/GetStudentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/IUniversityService/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <soap:operation soapAction="http://tempuri.org/IUniversityService/UpdateStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IUniversityService/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UniversityService">
    <wsdl:port name="BasicHttpBinding_IUniversityService" binding="tns:BasicHttpBinding_IUniversityService">
      <soap:address location="http://localhost:45073/UniversityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>